<%= form_for @item, remote: true do |f| %>
  <p>
  <%= f.label :product_id, 'Product Id' %>
  <%= f.text_field :product_id %>
  </p>
  <p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :cost %>
  <%= f.text_field :cost %>
  </p>
  <p>
  <%= f.label :price %>
  <%= f.text_field :price %>
  </p>
  <p>
  <%= f.submit %>
  </p>
  <p>
    <%= link_to 'back to all products', items_path %>
  </p>
<% end %>
